<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LogiNote | Home</title>
    </head>
<body>
    <div class="card">
        <div style="text-align: center;">
            <div style="width: 80px; height: 80px; background: #8d6e63; border-radius: 50%; margin: auto; display: flex; justify-content: center; align-items: center; border: 3px solid #5d4037;">
                <span style="font-size: 40px;">🕶️</span>
            </div>
            <p>Hola, {{ usuario }}</p>
        </div>

        <h2>Tus Materias</h2>
        <ul>
            {% for mat in materias %}
                <li>{{ mat.nombre }}: {{ mat.promedio }}</li>
            {% endfor %}
        </ul>
        <a href="/logout">Cerrar sesión</a>
    </div>
</body>
</html>
