<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LogiNote | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="pantro-avatar">🕶️</div>
        <h2>LogiNote</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
        </form>
        <a href="/register" style="color: #8ab4f8; font-size: 0.9em; text-decoration: none; display: block; margin-top: 15px;">Crear cuenta</a>
    </div>
</body>
</html>